.toolbar {
	padding: 1.5rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filters {
	display: flex;
	align-items: center;
	width: 520px;
	max-width: 100%;
}

.formControl {
	margin-right: 1.5rem;
	display: flex;
	align-items: center;
}

.formControl Select {
	margin-left: 0.75rem;
}

.btnPrimary {
	background-color: var(--color-black);
	color: var(--color-white);
}
