.toolbar {
	padding: 1.5rem 0;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.filters {
	display: flex;
	align-items: center;
	width: 520px;
	max-width: 100%;
}

.filterSelect {
	margin-right: 1.5rem;
}

.btnPrimary {
	background-color: var(--color-black);
	color: var(--color-white);
}

.inline {
	display: flex;
	align-items: center;
}

.inline .label {
	margin-bottom: 0;
}
