.button {
	cursor: pointer;
	font-size: var(--text-sm);
	padding: 0 0.75rem;
	border-radius: var(--radius-sm);
	border: 1px solid var(--color-black);
	height: 2rem;
}

.button:disabled {
	border-color: var(--color-light-gray);
	background-color: var(--color-light-gray);
	color: var(--color-gray);
	cursor: auto;
}

.primary {
	background-color: var(--color-black);
	color: var(--color-white);
}

.secondary {
	background-color: var(--color-white);
	color: var(--color-black);
	border-color: var(--color-border);
}

.icon {
	width: 32px;
	padding: 3px 0 0;
}

.icon svg {
	width: 1rem;
	height: 1rem;
}
