.wrapper {
	width: 800px;
	max-width: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.pageHeader {
	margin-top: 3rem;
	margin-bottom: 2rem;
}

.title {
	font-size: var(--title-2);
	font-weight: normal;
	margin: 1.5rem 0;
}

.row {
	margin-bottom: 1rem;
}

.buttonsWrapper {
	display: flex;
	justify-content: end;
}

.buttonsWrapper * {
	margin-left: 1rem;
}
